/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  display: grid;
  grid-template-columns: 1fr 200px 400px;
  align-items: center;
  justify-content: space-between;
  color: var(--ifm-font-color-base);
  padding: 1rem 0 2rem 0;
}

.heroTitle {
  font-size: 3rem;
  font-weight: 900;
  grid-column: 1 / 3;
  grid-row: 1;
  margin-bottom: 9rem;
}

.heroImage {
  grid-column: 2 / 4;
  width: 100%;
  grid-row: 1;
}

@media screen and (max-width: 996px) {
  .heroImage {
    display: none;
  }

  .heroBanner {
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
  }

  .heroTitle {
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }
}

[data-theme='dark'] .heroImage [fill='#004fff'] {
  fill: #14e8a7;
}
