.image {
  width: 19rem;
  height: 19rem;
  border-radius: calc(var(--ifm-global-radius) * 3.75);
  margin-right: 1.5rem;
}

@media (max-width: 996px) {
  .image {
    display: none;
  }
}

.article {
  display: flex;
  align-items: center;
}
