.header {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 400px;
  grid-template-rows: auto;
  margin-right: calc(-30% - 40px);
  padding-bottom: 9rem;
}

.image {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  border-radius: 1.5rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tagList {
  margin: 0  0 6rem 0 !important;
}

.date {
  margin: 0;
}

@media (max-width: 996px) {
  .header {
    display: block;
    padding-bottom: 2rem;
  }
}

@media (max-width: 996px) {
  .image {
    display: none;
  }

  .tagList {
    margin: 0 0 1rem 0 !important;
  }

  .header {
    margin-right: 0;
  }
}
